body{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:rgb(44, 99, 145);
    color:white;
   
}
.title{
    font-family: 'Germania One', cursive;
    letter-spacing: .09em;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border:8px solid black;
    background:black;
    border-radius: 10px;
}
.grid div{
    height:50px;
    width:50px;
   
}

.scores{
    padding:.2em;
    margin-bottom:0.3em;
    float:left;
    font-family: 'Press Start 2P', cursive;
    font-size:15px;
    
    
}
span{
    color:yellowgreen;
}

.snake{
    background: url('../images/snakeskin4.jpg')center no-repeat;
    background-size: contain;
    border-radius:10px;
   
    
    
    /* border-radius:20px; */
}


.apple{
    background:url('../images/weed2.png')center no-repeat;
    background-size: contain;
    border-radius:30px;
}
.hurt{
    background:url('../images/explode2.png')center no-repeat;
    background-size: cover;
}

.btn-set{
    height:160px;
    width:160px;

    background:grey;
    margin-top:20px;
    border-radius: 20px;
    padding:1em;
}
.btn-left{
    float: left;
    position: relative;
    top:30%;
    left:-8%;
    background-color:black;
    color:cyan;
    border-radius: 30px;
}

.btn-right{
    float: right;
    position: relative;
    top:30%;
    right:-5%;
    background-color:black;
    color:red;
    border-radius: 50%;
}
    

.btn-up{
    position:relative;
    left:2%;
    top:-5%;
    background-color:black;
    color:yellow;
    border-radius: 50%;
    
}
.btn-down{
    position: relative;
    top:40%;
    right:-33%;
    background-color:black;
    color:yellowgreen;
    border-radius: 50%;
    
   
}
.start{
    position: relative;
    bottom:0%;
    right:0%;
    background-color:black;
    color:wheat;
    border-radius: 50%;
    
}

.game-over{
    display: none;
    font-size:30px;
    font-family: 'Press Start 2P', cursive;
    color:white;
}
@media only screen and (max-height:1200px){
    .grid div{
        height:25px;
        width:25px;
       
    }
}